.navbar {
  flex-shrink: 0;
  padding: 8px;
  height: fit-content;
  width: fit-content;
  
  ul {
    @include flex-center;

    gap: 12px;
    
    li {
      padding: 4px;
      text-align: center;

      &.active:not(:hover) {
        a {
          color: var(--dragon);
        }

        // pointer-events: none;
      }

      &.disabled:not(.active) {
        a {
          color: var(--grey-500);
        }

        pointer-events: none;
      }

    }
  }
}