.navbar {
  width: fit-content;

  @include flex-center;
  
  ul {
    @include flex-center;

    padding: 8px;
    flex-shrink: 0;
    gap: 12px;
    
    li {
      padding: 4px;
      text-align: center;

      &.active:not(:hover) {
        a {
          color: var(--dragon);
        }

        // pointer-events: none;
      }

      &.disabled:not(.active) {
        a {
          color: var(--grey-600);
        }

        pointer-events: none;
      }

    }
  }

  &:hover:not(.disabled)::before,
  &.active::before {
    opacity: 0;
  }
}