.navbar {
  padding: 16px;
  width: var(--navbar-width);
  flex-shrink: 0;
  
  ul {
    @include flex-center;
    
    flex-direction: column;
    padding: 24px 0 48px;
    gap: 12px;
    
    li {
      padding: 4px;
      text-align: center;


      &.active {
        a {
            color: violet;
          }

          pointer-events: none;
      }

      &.disabled:not(.active) {
        a {
          color: grey;
        }

        pointer-events: none;
      }

    }
  }
}