.edit-team-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  gap: 56px;

  .section-title {
    @include flex-center(cross);

    justify-content: space-between;
    margin-bottom: 32px;
    height: 45px;

    .actions {
      margin-left: 32px;
      display: flex;
      gap: 16px;
    }
  }  
}
  