.pokemon-team {
  @include flex-center;

  flex-flow: column wrap;
  align-content: flex-start;
  gap: 20px;
  width: fit-content;

  .item {
    position: relative;
    padding: 0 12px;
    width: 100%;
    
    .remove {
      position: absolute;
      right: -0;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      transition: var(--transition-all-1);
      
      &:hover {
        color: var(--error-500);
      }
    }
    
    &:hover {
      .remove {
        visibility: visible;
        opacity: 1;
      }
    }
    
  }
}
