.team-edit-form {
  @include flex-center(cross);

  flex-direction: column;
  gap: 24px;

  .title {
    align-self: flex-start;
  }

  .field {
    width: 100%;

    label {
      cursor: pointer;
      display: inline-block;
      margin-bottom: 8px;
      font-weight: 600;
    }

    & > div {
      @include flex-center(cross);

      gap: 16px
    }
  }

  .actions {
    @include flex-center(cross);

    align-self: flex-end;
    gap: 16px;
  }

}