.layout {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(45deg, #d2ffde, #ceefff, #ded1ff);  

  .view {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    & > [class*="-page"] {
      scroll-behavior: smooth;
      padding: 24px 24px 48px;
      flex-grow: 1;
    }
  }
}