.app-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background: var(--bg-gradient);
  
  .view {
    position: relative;
    display: flex;
    width: 100%;
    overflow: auto;
    height: 100%;

    .pokeball {
      position: absolute;
      top: 50%;
      left: calc(50% + var(--navbar-width) / 2);
      transform: translate(-50%, -50%);
      fill: rgb(255 255 255 / 15%);
      height: 600px;
    }
    
    & > [class*="-page"] {
      overflow: auto;
      scroll-behavior: smooth;
      padding: 24px;
      width: 100%;
      min-height: 100%;
      z-index: 1;
    }
  }
}