/* ==========================================================================
1. Fade in
========================================================================== */

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* ==========================================================================
2. Shimmer
========================================================================== */

@keyframes shimmer {

  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(100%);
  }
}

.animation-shimmer-15 {
  animation: shimmer 1.5s infinite alternate;
}

/* ==========================================================================
3. Slide vertically from bottom
========================================================================== */

@keyframes slide-up {

  from {
    opacity: 0;
    transform: translateY(100%);
  }
  
  to {
    opacity: 1
  }
}

/* ==========================================================================
4. Slide horizontally from right
========================================================================== */

@keyframes slide-left {

  from {
    opacity: 0;
    transform: translateX(100%);
  }
  
  to {
    opacity: 1
  }
}

/* ==========================================================================
4. Slide horizontally from left
========================================================================== */

@keyframes slide-right {

  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  to {
    opacity: 1
  }
}

/* ==========================================================================
5. Bounce
========================================================================== */

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0%) scaleX(1) scaleY(1);
  }

  50% {
    transform: translateY(-15%) scaleX(0.95) scaleY(1.03);
  }
}

/* ==========================================================================
6. Jump
========================================================================== */

@keyframes jump {

  0%,
  100% {
    transform: translateY(-5%) ;
  }

  30% {
    transform: translateY(-10%) ;
  }
}
