$colors: "accent-100", "accent-200", "accent-300", "accent-400", "accent-500", "accent-600", "accent-700", "black", "error-100", "error-200", "error-300","error-400", "error-500", "error-600", "error-700", "grey-100", "grey-200", "grey-300", "grey-400", "grey-500", "grey-600", "grey-700", "grey-800", "grey-900", "primary-25", "primary-50", "primary-75", "primary-100", "primary-200", "primary-300", "primary-400", "primary-500", "success-100", "success-200", "success-300", "success-400", "success-500", "success-600", "success-700",  "white-100", "warning-200", "warning-300", "warning-400", "warning-500", "warning-600", "warning-700";

@each $color in $colors {
  .is-#{$color} {
    color: var(--#{$color}) !important;
  }

  .bg-#{$color} {
    background: var(--#{$color}) !important;
  }

  .fill-#{$color} {
    fill: var(--#{$color}) !important;
  }

  .border-#{$color} {
    border-color: var(--#{$color}) !important;
  }

  .bt-#{$color} {
    border-top-color: var(--#{$color}) !important;
  }

  .bb-#{$color} {
    border-bottom-color: var(--#{$color}) !important;
  }

  .bl-#{$color} {
    border-left-color: var(--#{$color}) !important;
  }

  .br-#{$color} {
    border-right-color: var(--#{$color}) !important;
  }
}