@import "./variables/all";
@import "./animations";
@import "./colors";
@import "./forms";
@import "./typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__next {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

body {
  scrollbar-color: var(--accent-300) transparent;
  background-color: var(--background-color);
  color: var(--primary-p);
  overflow-y: overlay;

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    border-radius: var(--radius-s);
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-color: var(--accent-300);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 30;
    pointer-events: none;
    background-color: rgb(0 0 0 / 25%);
    transition: var(--transition-all-2);
    visibility: hidden;
    opacity: 0;
  }
  
  &.modals-overlay {

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.no-pointer-events * {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.flex-align-h {
  @include flex-center(main);
}

.flex-align-v {
  @include flex-center(cross);
}

.not-visible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

.shimmer {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
        rgba(#fff, 0) 4%,
        rgba(#fff, 0.3) 25%,
        rgba(#fff, 0.5) 35%,
        rgba(#fff, 0) 45%);
    animation: shimmer 1.5s infinite alternate;
  }
}

  
  /* ==========================================================================
  Margin and padding
  ========================================================================== */
  
  $directions: (
    b: "bottom",
    l: "left",
    r: "right",
    t: "top",
    x: "horizontal",
    y: "vertical",
  );

@for $i from 0 through 96 {
  .p-#{$i} {
    padding: calc(#{$i} * 1px) !important;
  }

  .m-#{$i} {
    margin: calc(#{$i} * 1px) !important;
  }

  @each $key,
  $value in $directions {
    .p#{$key}-#{$i} {
      @if $key == y {
        padding-top: calc(#{$i} * 1px) !important;
        padding-bottom: calc(#{$i} * 1px) !important;
      } @else if $key == x {
        padding-left: calc(#{$i} * 1px) !important;
        padding-right: calc(#{$i} * 1px) !important;
      } @else {
        padding-#{$value}: calc(#{$i} * 1px) !important;
      }
    }

    .m#{$key}-#{$i} {
      @if $key == y {
        margin-top: calc(#{$i} * 1px) !important;
        margin-bottom: calc(#{$i} * 1px) !important;
      } @else if $key == x {
        margin-left: calc(#{$i} * 1px) !important;
        margin-right: calc(#{$i} * 1px) !important;
      } @else {
        margin-#{$value}: calc(#{$i} * 1px) !important;
      }
    }
  }
}

/* ==========================================================================
Dimensions
========================================================================== */


@for $i from 1 through 100 {
  .h-#{$i} {
    height: #{$i} + '%' !important;
  }

  .w-#{$i} {
    width: #{$i} + '%' !important;
  }
};

@for $i from 1 through 100 {
  .hpx-#{$i} {
    height: #{$i} + 'px' !important;
  }

  .wpx-#{$i} {
    width: #{$i} + 'px' !important;
  }
};

@media (prefers-color-scheme: dark) {

  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}