@import "./variables/all";
@import "./colors";
@import "./forms";
@import "./typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* stylelint-disable-next-line selector-id-pattern */
html,
body,
#__next {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-gradient);
  scrollbar-color: var(--primary-200) transparent;
  color: var(--primary-100);

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    border-radius: var(--radius-s);
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-color: var(--primary-200);
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

}

a {
  text-decoration: none;
  color: var(--primary-200);
  transition: var(--transition-all-1);

  &:active,
  &:hover{
    color: var(--accent-500)
  }
}

ul, li {
  list-style: none;
  font-size: 0;
}

.container {
  position: relative;
  padding: 32px;
  border-radius: var(--radius);
  background: var(--glass-gradient-1);
  border: var(--glass-border);
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  backdrop-filter: blur(16px);

  // backdrop-filter: blur(16px) saturate(180%);
  // background-color: rgb(255 255 255 / 60%);
  // border: 1px solid rgb(209 213 219 / 30%);
}

.glass-box {
  position: relative;
  border-radius: var(--radius-s);
  border: var(--glass-border);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  z-index: 1;
  background: var(--glass-gradient-1);

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    transition: var(--transition-all-1);
    opacity: 0;
    z-index: -1;
  }
  
  &:hover:not(.disabled)::before,
  &.active::before {
    background: var(--glass-gradient-2);
    opacity: 1;
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
  
  /* ==========================================================================
  Margin and padding
  ========================================================================== */
  
  $directions: (
    b: "bottom",
    l: "left",
    r: "right",
    t: "top",
    x: "horizontal",
    y: "vertical",
  );

@for $i from 0 through 96 {
  .p-#{$i} {
    padding: calc(#{$i} * 1px) !important;
  }

  .m-#{$i} {
    margin: calc(#{$i} * 1px) !important;
  }

  @each $key,
  $value in $directions {
    .p#{$key}-#{$i} {
      @if $key == y {
        padding-top: calc(#{$i} * 1px) !important;
        padding-bottom: calc(#{$i} * 1px) !important;
      } @else if $key == x {
        padding-left: calc(#{$i} * 1px) !important;
        padding-right: calc(#{$i} * 1px) !important;
      } @else {
        padding-#{$value}: calc(#{$i} * 1px) !important;
      }
    }

    .m#{$key}-#{$i} {
      @if $key == y {
        margin-top: calc(#{$i} * 1px) !important;
        margin-bottom: calc(#{$i} * 1px) !important;
      } @else if $key == x {
        margin-left: calc(#{$i} * 1px) !important;
        margin-right: calc(#{$i} * 1px) !important;
      } @else {
        margin-#{$value}: calc(#{$i} * 1px) !important;
      }
    }
  }
}

/* ==========================================================================
Dimensions
========================================================================== */

@for $i from 1 through 100 {
  .h-#{$i} {
    height: #{$i} + '%' !important;
  }

  .w-#{$i} {
    width: #{$i} + '%' !important;
  }
};

@for $i from 1 through 100 {
  .hpx-#{$i} {
    height: #{$i} + 'px' !important;
  }

  .wpx-#{$i} {
    width: #{$i} + 'px' !important;
  }
};

@media (prefers-color-scheme: dark) {

  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}