.home-page {
  @include flex-center(cross);

  flex-direction: column;
  gap: 36px;


  
  .logged-in,
  .logged-out {
    @include flex-center;

    flex-direction: column;
    min-width: 450px;
    max-width: 720px;

    & > h1,
    & > h2 {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .logged-in {
    padding-top: 56px;

    .create-edit {    
      @include flex-center;
      
      gap: 24px;
      
      .link{
        @include flex-center;
        @include square(150px);
        
        position: relative;
        flex-direction: column;
        padding: 12px;
        gap: 12px;
        text-align: center;
        cursor: pointer;
        color: var(--primary-100);

        span {
          font-size: px-to-rem(20);
          font-weight: 500;
        }
      }
    }
  }
}
