@import '@/styles/animations';

.trainer-badge {
  @include flex-center;

  position: relative;
  padding: 8px;
  padding-right: 16px;

  // color: var(--white-90);
  border-radius: 100px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  text-shadow: 1px 2px 2px rgb(0 0 0 / 10%);

  // background-color: var(--white-90);

  background: linear-gradient(rgb(201 85 255 / 10%), rgb(201 85 255 / 30%));
  cursor: pointer;
  filter: drop-shadow(0 2px 6px white);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: var(--transition-all-2);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    background: linear-gradient(rgb(255 255 255 / 5%), rgb(255 255 255 / 15%));
    opacity: 1;
  }
  
  .pokeball {
    @include square(24px);

    margin-right: 16px;

    // animation: jump 0.7s ease infinite ;
  }

  .attributes {
    @include flex-center(main);

    flex-direction: column;

    .username {
      font-weight: 700;
    }

    .teams {
      align-self: flex-end;
    }
  }

}