{
  "extends": "stylelint-config-standard-scss",
  "formatter": "stylelint-checkstyle-formatter",
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "max-nesting-depth": 10
  }
}
