.random-pkmn {
  @include flex-center;
  
  flex-wrap: wrap;
  
  // flex-direction: column;
  height: fit-content;
  gap: 24px;

  
  .btns {
    @include flex-center;
    
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 32px;
    gap: 16px;
  }
}
  