.create-team-page {
  .section-title {
    @include flex-center(cross);

    justify-content: space-between;
    margin-bottom: 16px;
    height: 45px;
  }
  
  .create-new {
    margin: 0 auto;
    min-width: 300px;
    max-width: 450px;
    margin-top: 56px;
  } 
  
  .add-to-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
    gap: 36px;
  }
}
  