.create-team-page { 
  display: flex;
  justify-content: space-evenly;
  
  .random-pkmn {
    @include flex-center(cross);

    flex-direction: column;
    
    .btns {
      @include flex-center;

      flex-direction: column;
      margin-top: 32px;
      gap: 16px;
    }
  }

  .team {
    @include flex-center;

    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    width: calc(190px * 3 + 106px)
  }
}
