.team-recap { 
  ul {
    flex-direction: column;
    display: flex; 
    gap: 20px;

    li {
      h4 {
        margin-bottom: 8px;
      }

      .pokemons,
      .types {
        @include flex-center(cross);
        
        gap: 20px;
      }
      
      .pokemon {
        @include flex-center(cross);

        flex-flow: column wrap;
        padding: 12px;
        gap: 8px;

        &:hover:not(.disabled)::before,
          &.active::before {
            opacity: 0;
          }
      }
    }
  }

  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // width: fit-content;
  // min-width: 400px;
  // padding: 32px;
  // padding-right: 12px;
}

@media screen and (max-width: 900px) {
  .team-recap {
    @include flex-center(cross);

      flex-flow: column wrap;
      align-content: flex-start;
  }
}
