.header {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  height: var(--header-height);
  padding: 24px 36px;
  background: var(--glass-gradient-top);
  z-index: 10;

  // box-shadow: var(--shadow);
    
  .logo {
    width: 200px;
  }

  .badges {
    @include flex-center(cross);

    justify-content: flex-end;
    gap: 16px;
  }
}