.header {
  @include flex-center;

  height: var(--header-height);
  padding: 24px;
  padding-left: calc(var(--navbar-width) + 24px);
  background: var(--glass-gradient-top);
  z-index: 10;

  // box-shadow: var(--shadow);
    
  .logo {
    height: 100%;
  }
}