.header {
  @include flex-center;

  grid-column: 2;
  height: var(--header-height);
  padding:12px 24px;
  margin-bottom: 48px;

  // background: var(--glass-gradient-2);
  // box-shadow: var(--shadow);
    
  .logo {
    height: 100%;
  }
}