.btn {
  @include flex-center;

  position: relative;
  display: flex;
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
  border-radius: var(--radius-s);
  font-family: inherit;
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: var(--transition-all-1);
  user-select: none;

  &.disabled {
    pointer-events: none;
    opacity: 0.35;
  }

  /* ==========================================================================
    Dimensions
  ========================================================================== */

  // &.is-medium {
    @include text-style(700, 16, 0.3);

    padding: 7px 15px;

  // }

  /* ==========================================================================
    Colors
  ========================================================================== */

  /* ==========================================================================
    Default
  ========================================================================== */

  @include btn-style(".btn-default", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-default", hover, var(--accent-600), var(--accent-200));
  @include btn-style(".btn-default", active, var(--accent-700), var(--accent-300));
  @include btn-style(".btn-default", disabled, base, var(--grey-500));

  /* ==========================================================================
    Accent
  ========================================================================== */

  @include btn-style(".btn-accent", default, var(--white-90), var(--accent-600));
  @include btn-style(".btn-accent", hover, base, var(--accent-400));
  @include btn-style(".btn-accent", active, base, var(--accent-700));
  @include btn-style(".btn-accent", disabled);

  /* ==========================================================================
    Secondary
  ========================================================================== */

  @include btn-style(".btn-secondary", default, var(--primary-300), transparent);
  @include btn-style(".btn-secondary", hover, var(--accent-600), var(--accent-100));
  @include btn-style(".btn-secondary", active, var(--accent-600), var(--accent-200));
  @include btn-style(".btn-secondary", disabled);

   /* ==========================================================================
    Primary
  ========================================================================== */

  @include btn-style(".btn-primary", default, var(--white-90), var(--primary-300));
  @include btn-style(".btn-primary", hover, base, var(--primary-200));
  @include btn-style(".btn-primary", active, base, var(--primary-500));
  @include btn-style(".btn-primary", disabled);

  /* ==========================================================================
    Error
  ========================================================================== */

  @include btn-style(".btn-error", default, var(--white-90), var(--error-p));
  @include btn-style(".btn-error", hover, base, var(--error-300));
  @include btn-style(".btn-error", active, base, var(--error-500));
  @include btn-style(".btn-error", disabled);
  @include btn-style(".btn-error.no-action", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-error.no-action", hover, var(--error-p), var(--error-100));
  @include btn-style(".btn-error.no-action", active, var(--error-500), var(--error-200));
  @include btn-style(".btn-error.no-action", disabled, var(--primary-300), var(--grey-500));

  /* ==========================================================================
    Error alt
  ========================================================================== */

  @include btn-style(".btn-error-alt", default, var(--error-p), transparent);
  @include btn-style(".btn-error-alt", default, base, var(--grey-300), "large");
  @include btn-style(".btn-error-alt", hover, base, var(--error-100));
  @include btn-style(".btn-error-alt", active, var(--error-500), var(--error-200));
  @include btn-style(".btn-error-alt", disabled, base, var(--grey-400));

  /* ==========================================================================
    Success
  ========================================================================== */

  @include btn-style(".btn-success", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-success", hover, var(--success-500), var(--success-100));
  @include btn-style(".btn-success", active, var(--success-500), var(--success-200));
  @include btn-style(".btn-success", disabled, var(--primary-300), var(--grey-500));

  /* ==========================================================================
    Warning
  ========================================================================== */

  @include btn-style(".btn-warning", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-warning", hover, var(--warning-p), var(--warning-100));
  @include btn-style(".btn-warning", active, var(--warning-500), var(--warning-200));
  @include btn-style(".btn-warning", disabled, var(--primary-300), var(--grey-500));
}