.btn {
  @include flex-center;
  @include text-style(700, 16, 0.3);
  
  position: relative;
  display: flex;
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
  padding: 12px 16px;
  border-radius: 45px;
  font-family: inherit;
  text-transform: capitalize;
  border: 1px solid transparent;
  background-color: transparent;
  box-shadow: 0 1px 4px rgb(0 0 0 / 15%);
  color: inherit;
  cursor: pointer;
  transition: var(--transition-all-1);
  user-select: none;

  span { 
    font-weight: 600;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 5%);

  }

  &.disabled {
    pointer-events: none;
    opacity: 0.35;
  }

  /* ==========================================================================
    Colors
  ========================================================================== */

  @include btn-style(".btn-default", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-default", hover, var(--accent-600), var(--accent-200));
  @include btn-style(".btn-default", active, var(--accent-700), var(--accent-300));
  @include btn-style(".btn-default", disabled, base, var(--grey-500));

  /* ==========================================================================
    Accent
  ========================================================================== */

  @include btn-style(".btn-accent", default, var(--white-90), var(--accent-600));
  @include btn-style(".btn-accent", hover, base, var(--accent-400));
  @include btn-style(".btn-accent", active, base, var(--accent-700));
  @include btn-style(".btn-accent", disabled);

   /* ==========================================================================
    Primary
  ========================================================================== */

  @include btn-style(".btn-primary", default, var(--white-90), var(--primary-300));
  @include btn-style(".btn-primary", hover, base, var(--primary-200));
  @include btn-style(".btn-primary", active, base, var(--primary-500));
  @include btn-style(".btn-primary", disabled);

  /* ==========================================================================
    Error
  ========================================================================== */

  @include btn-style(".btn-error", default, var(--white-90), var(--error-400));
  @include btn-style(".btn-error", hover, base, var(--error-300));
  @include btn-style(".btn-error", active, base, var(--error-500));
  @include btn-style(".btn-error", disabled);

  /* ==========================================================================
    Success
  ========================================================================== */

  @include btn-style(".btn-success", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-success", hover, var(--success-500), var(--success-100));
  @include btn-style(".btn-success", active, var(--success-500), var(--success-200));
  @include btn-style(".btn-success", disabled, var(--primary-300), var(--grey-500));

  /* ==========================================================================
    Warning
  ========================================================================== */

  @include btn-style(".btn-warning", default, var(--primary-300), var(--grey-300));
  @include btn-style(".btn-warning", hover, var(--warning-400), var(--warning-100));
  @include btn-style(".btn-warning", active, var(--warning-500), var(--warning-200));
  @include btn-style(".btn-warning", disabled, var(--primary-300), var(--grey-500));
}