@import "./colors";

:root {

/* ==========================================================================
1. Border radius
========================================================================== */

  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-sm: 12px;
  --radius: 16px;
  --radius-l: 24px;

/* ==========================================================================
2. Referenced sizes
========================================================================== */
  --header-height: 120px;
  --footer-height: 64px;
  --navbar-width: 96px;

/* ==========================================================================
3. Shadows
========================================================================== */

  --shadow: 0px 2px 20px 1px rgb(0 0 0 / 10%);
  --shadow-hover: 0px 4px 40px rgb(0 0 0 / 20%);

/* ==========================================================================
4. Transitions
========================================================================== */

  --transition-all-1: all 0.1s ease-in-out;
  --transition-all-2: all 0.2s ease-in-out;
  --transition-all-3: all 0.3s ease-in-out;
  --transition-all-5: all 0.5s ease-in-out;
}