@import '@/styles/animations';

.glass-badge {
  @include flex-center;

  padding: 8px;
  padding-right: 16px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  text-shadow: 1px 2px 2px rgb(0 0 0 / 10%);
  background: var(--glass-gradient-2);
  filter: drop-shadow(0 2px 6px white);
  
  &.trainer {
    background: linear-gradient(-145deg, rgb(201 85 255 / 10%), rgb(201 85 255 / 30%));
  }

  &.team {
    background: linear-gradient(-145deg,rgb(85 116 255 / 10%), rgb(66 100 212 / 50%));
  }
  
  &.clickable {    
    cursor: pointer;    

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      transition: var(--transition-all-2);
      opacity: 0;
      z-index: -1;
    }

    &:hover::before {
      background: var(--glass-gradient-0);
      opacity: 1;
    }
  }
  
  .icon {
    @include square(24px);

    margin-right: 16px;
  }

  .attributes {
    @include flex-center(main);

    flex-direction: column;
    align-items: flex-end;

    .title {
      font-weight: 700;
    }

    .subtitle {
      align-self: flex-end;
    }
  }
}